<%- include("partials/_header") %> 
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include("partials/_menu") %> 
         <!-- end header inner -->
      <!-- contact -->
        <div class="contact">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <div class="titlepage text_align_center">
                  
                  <h2>Add Daily Program</h2>
                </div>
              </div>
              <div class="col-md-8 offset-md-2">
                <form id="request" class="main_form" method="POST" action="/daily" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form_control" placeholder="Name of event" type="type" name="daily_name"> 
                    </div>


                    <div class="col-md-12">
                      <input class="form_control" placeholder="Place of event" type="type" name="daily_place">                          
                    </div>


                    <div style="margin-bottom: 20px ;" class="col-md-12">
                      <input type="file" name="image" class="form-control-file">
                    </div>


                    <div class="col-md-12">
                      <div class="group_form">
                        <button class="send_btn">Send</button>
                        
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      <!-- end contact -->
      <!-- end footer -->
      <%- include("partials/_footer") %> 